extends layout

block main

  - var dir = 'op'
  - var subdir = 'index'

  +itemhead(dir, subdir)
  
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      a.link(href="/"+$localeName+"/assy/setup/index.html") #{$i18n.assy.setup.label}
      | #{$i18n[dir][subdir].items[0].text2}

    +itemtitle(dir, subdir, 1)

    p
      | #{$i18n[dir][subdir].items[1].text1}

      .accordion#accordion1
        .card
          .card-header#headingProfileAdd
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileAdd" aria-expanded="false" aria-controls="collpseProfileAdd") #{$i18n[dir][subdir].items[1].text2}
          .collapse#collapseProfileAdd(aria-labelledby="headingProfileAdd" data-parent="#accordion1")
            .card-body
              p
                .row
                  - var img = "/op/images/manage-profile-"+$localeName+".jpg"
                  +image(img, img)
                | #{$i18n[dir][subdir].items[1].text3}
          .card-header#headingProfileEdit
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileEdit" aria-expanded="false" aria-controls="collpseProfileEdit") #{$i18n[dir][subdir].items[1].text4}
          .collapse#collapseProfileEdit(aria-labelledby="headingProfileEdit" data-parent="#accordion1")
            .card-body
              p #{$i18n[dir][subdir].items[1].text5}
              p #{$i18n[dir][subdir].items[1].text6}
              p #{$i18n[dir][subdir].items[1].text7}
              p #{$i18n[dir][subdir].items[1].text8}
              table.table(style="max-width:480px;")
                tr
                  th.text-right(style="width:6em") #{$i18n[dir][subdir].items[1].text9}
                  td
                    .row
                      .col-5 #{$i18n[dir][subdir].items[1].text10}
                      .col-3 #{$i18n[dir][subdir].items[1].text11}
                      .col-4 #{$i18n[dir][subdir].items[1].text12}
                tr
                  th.text-right(style="vertical-align:middle") #{$i18n[dir][subdir].items[1].text13}
                  td
                    .row
                      .col-5 #{$i18n[dir][subdir].items[1].text14}
                      .col-3 #{$i18n[dir][subdir].items[1].text15}
                      .col-4 #{$i18n[dir][subdir].items[1].text16}
                      .col-5 #{$i18n[dir][subdir].items[1].text17}
                      .col-3 #{$i18n[dir][subdir].items[1].text18}
                      .col-4 #{$i18n[dir][subdir].items[1].text19}
                      .col-5 #{$i18n[dir][subdir].items[1].text20}
                      .col-3 #{$i18n[dir][subdir].items[1].text21}
                      .col-4 #{$i18n[dir][subdir].items[1].text22}
                tr
                  th.text-right #{$i18n[dir][subdir].items[1].text23}
                  td
                    .row
                      .col-5 #{$i18n[dir][subdir].items[1].text24}
                      .col-3 #{$i18n[dir][subdir].items[1].text25}
                      .col-4 #{$i18n[dir][subdir].items[1].text26}
              - var img = "/op/images/profile-sample-"+$localeName+".jpg"
              +image(img, img)
          .card-header#headingProfileSave
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileSave" aria-expanded="false" aria-controls="collpseProfileSave") #{$i18n[dir][subdir].items[1].text27}
          .collapse#collapseProfileSave(aria-labelledby="headingProfileSave" data-parent="#accordion1")
            .card-body
              p #{$i18n[dir][subdir].items[1].text28}
              p #{$i18n[dir][subdir].items[1].text29}
          .card-header#headingProfileDelete
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileDelete" aria-expanded="false" aria-controls="collpseProfileDelete") #{$i18n[dir][subdir].items[1].text30}
          .collapse#collapseProfileDelete(aria-labelledby="headingProfileDelete" data-parent="#accordion1")
            .card-body
              p #{$i18n[dir][subdir].items[1].text31}
      +note('1', '上記の表のプロファイルを作成している画面のスクリーンショット')
    
    +itemtitle(dir, subdir, 2)

    p
      .row
        - var img = "/op/images/tube-set1.jpg"
        +process-image(img, img)
        - var img = "/op/images/tube-set2.jpg"
        +process-image(img, img)

    +itemtitle(dir, subdir, 3)

    p
      .row
        - var img = "/op/images/tube-set3.jpg"
        +process-image(img, img)
        - var img = "/op/images/tube-set4.jpg"
        +process-image(img, img)

    +itemtitle(dir, subdir, 4)

    p
      .row
        - var img = "/op/images/tube-set5.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[4].text1}

    +itemtitle(dir, subdir, 5)

    p
      .row
        - var img = "/op/images/tube-set6.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[5].text1}
    
    +itemtitle(dir, subdir, 6)

    p
      .row
        - var img = "/assy/images/setup-connection1-"+$localeName+".jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[6].text1}

    +itemtitle(dir, subdir, 7)

    p
      .row
        - var img = "/op/images/run1-"+$localeName+".jpg"
        +process-image(img, img)
        - var img = "/op/images/run2-"+$localeName+".jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[7].text1}
    
    +itemtitle(dir, subdir, 8)

    p
      .row
        - var img = "/op/images/profile-finish-"+$localeName+".jpg"
        +image(img, img)
      p #{$i18n[dir][subdir].items[8].text1}
      p #{$i18n[dir][subdir].items[8].text2}
      p #{$i18n[dir][subdir].items[8].text3}
    
