extends layout

block append metas
  - var dir = 'op'
  - var subdir = 'index'
  +meta(metas, $i18n[dir].label, $i18n[dir][subdir].items[0].title)

block main

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      a.link(href="/"+$localeName+"/assy/setup/index.html") #{$i18n.assy.setup.label}
      | #{$i18n[dir][subdir].items[0].text2}

    +itemtitle(dir, subdir, 1)

    p
      | #{$i18n[dir][subdir].items[1].text1}

      .accordion#accordion1
        .card
          .card-header#headingProfileAdd
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileAdd" aria-expanded="false" aria-controls="collpseProfileAdd") #{$i18n[dir][subdir].items[1].text2}
          .collapse#collapseProfileAdd(aria-labelledby="headingProfileAdd" data-parent="#accordion1")
            .card-body
              p
                .row
                  - var img = "/op/images/manage-profile-"+$localeName+".jpg"
                  +screenshot-image(img, img)
                | #{$i18n[dir][subdir].items[1].text3}
          .card-header#headingProfileEdit
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileEdit" aria-expanded="false" aria-controls="collpseProfileEdit") #{$i18n[dir][subdir].items[1].text4}
          .collapse#collapseProfileEdit(aria-labelledby="headingProfileEdit" data-parent="#accordion1")
            .card-body
              p #{$i18n[dir][subdir].items[1].text5}
              p #{$i18n[dir][subdir].items[1].text6}
              p #{$i18n[dir][subdir].items[1].text7}
              p #{$i18n[dir][subdir].items[1].text8}
              table.table(style="max-width:480px;")
                tr
                  th.text-right(style="width:6em") #{$i18n[dir][subdir].items[1].text9}
                  td
                    .row
                      .col-5 #{$i18n[dir][subdir].items[1].text10}
                      .col-3 #{$i18n[dir][subdir].items[1].text11}
                      .col-4 #{$i18n[dir][subdir].items[1].text12}
                tr
                  th.text-right(style="vertical-align:middle") #{$i18n[dir][subdir].items[1].text13}
                  td
                    .row
                      .col-5 #{$i18n[dir][subdir].items[1].text14}
                      .col-3 #{$i18n[dir][subdir].items[1].text15}
                      .col-4 #{$i18n[dir][subdir].items[1].text16}
                      .col-5 #{$i18n[dir][subdir].items[1].text17}
                      .col-3 #{$i18n[dir][subdir].items[1].text18}
                      .col-4 #{$i18n[dir][subdir].items[1].text19}
                      .col-5 #{$i18n[dir][subdir].items[1].text20}
                      .col-3 #{$i18n[dir][subdir].items[1].text21}
                      .col-4 #{$i18n[dir][subdir].items[1].text22}
                tr
                  th.text-right #{$i18n[dir][subdir].items[1].text23}
                  td
                    .row
                      .col-5 #{$i18n[dir][subdir].items[1].text24}
                      .col-3 #{$i18n[dir][subdir].items[1].text25}
                      .col-4 #{$i18n[dir][subdir].items[1].text26}
              - var img = "/op/images/profile-sample-"+$localeName+".jpg"
              +screenshot-image(img, img, 500)
          .card-header#headingProfileSave
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileSave" aria-expanded="false" aria-controls="collpseProfileSave") #{$i18n[dir][subdir].items[1].text27}
          .collapse#collapseProfileSave(aria-labelledby="headingProfileSave" data-parent="#accordion1")
            .card-body
              p #{$i18n[dir][subdir].items[1].text28}
              p #{$i18n[dir][subdir].items[1].text29}
              - var img = "/op/images/profile-save-"+$localeName+".jpg"
              +screenshot-image(img, img, 300)
          .card-header#headingProfileDelete
            h5.mb-0
              button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseProfileDelete" aria-expanded="false" aria-controls="collpseProfileDelete") #{$i18n[dir][subdir].items[1].text30}
          .collapse#collapseProfileDelete(aria-labelledby="headingProfileDelete" data-parent="#accordion1")
            .card-body
              p #{$i18n[dir][subdir].items[1].text31}
              - var img = "/op/images/profile-delete-"+$localeName+".jpg"
              +screenshot-image(img, img, 300)

    +itemtitle(dir, subdir, 2)

    p #{$i18n[dir][subdir].items[2].text1}
    .row
      - var img = "/op/images/tube-set1.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set2.jpg"
      +process-image(img, img)
    p #{$i18n[dir][subdir].items[2].text2}
    .row
      - var img = "/op/images/tube-set3.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set4.jpg"
      +process-image(img, img)
    p #{$i18n[dir][subdir].items[2].text3}
    .row
      - var img = "/op/images/tube-set5.jpg"
      +process-image(img, img)
    p #{$i18n[dir][subdir].items[2].text4}
    .row
      - var img = "/op/images/tube-set6.jpg"
      +process-image(img, img)

    // Start experiment
    +itemtitle(dir, subdir, 3)
    p #{$i18n[dir][subdir].items[3].text0}

    .accordion#accordion2
      .card
        // HTTML server mode
        .card-header#headingConnectionServer
          h5.mb-0
            button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseConnectionServer" aria-expanded="false" aria-controls="collpseProfileAdd") #{$i18n[dir][subdir].items[3].server.title}
        .collapse#collapseConnectionServer(aria-labelledby="headingProfileAdd" data-parent="#accordion2")
          .card-body
            p #{$i18n[dir][subdir].items[3].text1}
            .row
              - var img = "/assy/images/setup-connection1-"+$localeName+".jpg"
              +screenshot-image(img, img)
        // Access point mode
        .card-header#headingConnectionAP
          h5.mb-0
            button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseConnectionAP" aria-expanded="false" aria-controls="collpseProfileAdd") #{$i18n[dir][subdir].items[3].ap.title}
        .collapse#collapseConnectionAP(aria-labelledby="headingProfileAdd" data-parent="#accordion2")
          .card-body
            p #{$i18n[dir][subdir].items[3].ap.text1_0}
              br
              | (
              a.link(href="../assy/setup/index.html#ap-boot") #{$i18n[dir][subdir].items[3].ap.text1_1}
              | )

            p #{$i18n[dir][subdir].items[3].ap.text6_0}
              br
              | (
              a.link(href="../assy/setup/index.html#ap-wifi-join") #{$i18n[dir][subdir].items[3].ap.text6_1}
              | )
            p #{$i18n[dir][subdir].items[3].ap.text7}
              br
              | (
              a.link(href="../assy/setup/index.html#ap-console") #{$i18n[dir][subdir].items[3].ap.text8}
              | )
            .row
              - var img = "/op/images/setup-connection-ap-"+$localeName+".jpg"
              +screenshot-image(img, img)


    p #{$i18n[dir][subdir].items[3].text2}

    .row
      - var img = "/op/images/run1-"+$localeName+".jpg"
      +screenshot-image(img, img, 450)
    | #{$i18n[dir][subdir].items[3].text3}

    .row
      - var img = "/op/images/progress-"+$localeName+".jpg"
      +screenshot-image(img, img, 450)

    p #{$i18n[dir][subdir].items[3].text4}
      .row
        - var img = "/op/images/stop-"+$localeName+".jpg"
        +screenshot-image(img, img)


    +itemtitle(dir, subdir, 4)

    p
      p #{$i18n[dir][subdir].items[4].text1}
      p #{$i18n[dir][subdir].items[4].text2}
        .row
          - var img = "/op/images/tube-set3.jpg"
          +process-image(img, img)
          tube-set3
      p #{$i18n[dir][subdir].items[4].text3}
