extends layout

block main

  - var dir = 'op'
  - var subdir = 'index'

  +itemhead(dir, subdir)
  
    +itemtitle(dir, subdir, 0)

    ol
      li #{$i18n[dir][subdir].items[0].text1}
      li #{$i18n[dir][subdir].items[0].text2}
      li #{$i18n[dir][subdir].items[0].text3}
      li
        | #{$i18n[dir][subdir].items[0].text4}
        a.link(href="/"+$localeName+"/console/index.html" target="_blank") #{$i18n[dir][subdir].items[0].text5}
        | #{$i18n[dir][subdir].items[0].text6}
      li #{$i18n[dir][subdir].items[0].text7}
      li #{$i18n[dir][subdir].items[0].text8}
      li #{$i18n[dir][subdir].items[0].text9}
    
    +itemtitle(dir, subdir, 1)

    h5 #{$i18n[dir][subdir].items[1].text1}
    p #{$i18n[dir][subdir].items[1].text2}
    p #{$i18n[dir][subdir].items[1].text3}
    - var img = "/op/images/manage-profile-"+$localeName+".jpg"
    +image(img, img)
      
    h5 #{$i18n[dir][subdir].items[1].text4}
    - var img = "/op/images/edit-profile-"+$localeName+".jpg"
    +image(img, img)
    p #{$i18n[dir][subdir].items[1].text5}
    p #{$i18n[dir][subdir].items[1].text6}
    p #{$i18n[dir][subdir].items[1].text7}
    p #{$i18n[dir][subdir].items[1].text8}
    p #{$i18n[dir][subdir].items[1].text9}
    p #{$i18n[dir][subdir].items[1].text10}
    - var img = "/op/images/profile-sample-"+$localeName+".jpg"
    +image(img, img)
  
    table.table(style="max-width:480px;")
      tr
        th.text-right(style="width:6em") #{$i18n[dir][subdir].items[1].text11}
        td
          .row
            .col-5 #{$i18n[dir][subdir].items[1].text12}
            .col-3 #{$i18n[dir][subdir].items[1].text13}
            .col-4 #{$i18n[dir][subdir].items[1].text14}
      tr
        th.text-right(style="vertical-align:middle") #{$i18n[dir][subdir].items[1].text15}
        td
          .row
            .col-5 #{$i18n[dir][subdir].items[1].text16}
            .col-3 #{$i18n[dir][subdir].items[1].text17}
            .col-4 #{$i18n[dir][subdir].items[1].text18}
            .col-5 #{$i18n[dir][subdir].items[1].text19}
            .col-3 #{$i18n[dir][subdir].items[1].text20}
            .col-4 #{$i18n[dir][subdir].items[1].text21}
            .col-5 #{$i18n[dir][subdir].items[1].text22}
            .col-3 #{$i18n[dir][subdir].items[1].text23}
            .col-4 #{$i18n[dir][subdir].items[1].text24}
      tr
        th.text-right #{$i18n[dir][subdir].items[1].text25}
        td
          .row
            .col-5 #{$i18n[dir][subdir].items[1].text26}
            .col-3 #{$i18n[dir][subdir].items[1].text27}
            .col-4 #{$i18n[dir][subdir].items[1].text28}
            
    
    +note('1', '上記の表のプロファイルを作成している画面のスクリーンショット')
    
    h5 #{$i18n[dir][subdir].items[1].text29}
    p #{$i18n[dir][subdir].items[1].text30}
    
    h4 #{$i18n[dir][subdir].items[1].text31}
    ol
      li #{$i18n[dir][subdir].items[1].text32}
        .row
          - var img = "/op/images/tube-set1.jpg"
          +process-image(img, img)
          - var img = "/op/images/tube-set2.jpg"
          +process-image(img, img)
      li #{$i18n[dir][subdir].items[1].text33}
        .row
          - var img = "/op/images/tube-set3.jpg"
          +process-image(img, img)
          - var img = "/op/images/tube-set4.jpg"
          +process-image(img, img)
      li #{$i18n[dir][subdir].items[1].text34}
        - var img = "/op/images/tube-set5.jpg"
        +process-image(img, img)
      li #{$i18n[dir][subdir].items[1].text35}
        - var img = "/op/images/tube-set6.jpg"
        +process-image(img, img)
    
    h4 #{$i18n[dir][subdir].items[1].text36}
    p #{$i18n[dir][subdir].items[1].text37}
      - var img = "/assy/images/setup-connection1-"+$localeName+".jpg"
      +process-image(img, img)
    p #{$i18n[dir][subdir].items[1].text38}
      .row
        - var img = "/assy/images/run1-"+$localeName+".jpg"
        +process-image(img, img)
        - var img = "/assy/images/run2-"+$localeName+".jpg"
        +process-image(img, img)
    
    h4 #{$i18n[dir][subdir].items[1].text39}
    p #{$i18n[dir][subdir].items[1].text40}
    p #{$i18n[dir][subdir].items[1].text41}
    - var img = "/op/images/profile-finish-"+$localeName+".jpg"
    +image(img, img)
    p #{$i18n[dir][subdir].items[1].text42}
    
