extends layout

block main

  - var dir = 'op'
  - var subdir = 'index'

  +itemhead(dir, subdir)
  
    h4 実験の流れ
    ol
      li チューブをセットします。
      li NinjaPCR本体の電源を入れます。
      li ブラウザで
        a(href="/console/index.html") コンソール
        | を開きます。
      li デバイス名を指定して接続します。
      li 実験プロファイルを作成、または以前作成したプロファイルをリストから選択します。
      li 実験を開始します。現在の進行状況が表示されます。
    
    h4 プロファイルの管理
    p プロファイルは1回限り使うこともできますが、繰り返し行いたいプロファイルはセーブし、再実行することができます。
      
    h4 プロファイルの編集
    p 温度プロファイルはサイクルとして作ります。複数のサイクルを持つことができます。サイクルには複数のステップを持たせることができます。サイクルごとに繰り返し回数を指定できます。
    p ゆっくりと温度遷移させる必要がある場合は、遷移時間 (ランプ時間) を指定することもできます。ランプ時間を空欄または0にした場合、可能な限り速く温度遷移します。
    p 
      | プロファイルはブラウザのストレージに保存します。ブラウザの設定などでデータを消去すると、プロファイルは消去されます。
      | また、プライベートモードなどデータの保存を行わないモードで動かした場合は保存されません。
    h5 例
    p たとえば次のようなプロファイルの場合は次のように作成します。
  
    table.table(style="max-width:480px;")
      tr
        th.text-right(style="width:6em") x1 
        td
          .row
            .col-5 Initial Denaturation
            .col-3 95℃
            .col-4 2 minutes
      tr
        th.text-right(style="vertical-align:middle") x35
        td
          .row
            .col-5 Denaturation
            .col-3 95℃
            .col-4 30 seconds
            .col-5 Annealing
            .col-3 55℃
            .col-4 30 seconds
            .col-5 Extension
            .col-3 72℃
            .col-4 30 seconds
      tr
        th.text-right x1
        td
          .row
            .col-5 Final extension
            .col-3 72℃
            .col-4 10 minutes
            
    
    +note('1', '上記の表のプロファイルを作成している画面のスクリーンショット')
    
    h4 チューブのセット
    ol
      li 蓋を開けます。
        +note('2', '蓋を開けているところの写真')
      li ウェルにチューブを挿します。
        +note('3', 'チューブを挿しているところの写真')
      li 蓋を閉めます。軽く力を入れ、ラッチがカチッとはまるまで閉めてください。
        +note('4', '蓋を閉めている写真')
      li ノブを軽く時計回りにひねり、蓋が軽くチューブを押さえるようにします。
        +note('5', 'ノブをひねっている写真。ひねる方向に矢印')
    .row
      - var img = "/op/images/tube-set1.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set2.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set3.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set4.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set5.jpg"
      +process-image(img, img)
      - var img = "/op/images/tube-set6.jpg"
      +process-image(img, img)
      
    h4 実験の進捗
    p Stopボタンについて
    
    h4 実験が終わったら
    p 実験が終わったらチューブを取り出します。セットする時と同様、蓋を開けます。ウェルと蓋が冷え切っていない場合がありますので、手を触れないように気をつけて取り出してください。

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}

    +itemtitle(dir, subdir, 1)

    p
      - var img = "/assy/images/lid-heater.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text1}
      // +itemlink('assy', 'unbox', 4)
      | #{$i18n[dir][subdir].items[1].text2}
      a(href="https://www.google.co.jp") #{$i18n[dir][subdir].items[1].text3}
      | #{$i18n[dir][subdir].items[1].text4}

    +itemtitle(dir, subdir, 2)

    p
      | #{$i18n[dir][subdir].items[2].text1}

    +itemtitle(dir, subdir, 3)

