extends layout

block main

    h4 #{$i18n.about.label}

    p
      | #{$i18n.about.text1}
      a.link(href="https://www.facebook.com/hisakawa" target="_blank") #{$i18n.about.text2}
      | #{$i18n.about.text3}
      a.link(href="https://www.facebook.com/maripo" target="_blank") #{$i18n.about.text4}
      | #{$i18n.about.text5}

    p
      | #{$i18n.about.text6}
      a.link(href="https://ssar.space" target="_blank") #{$i18n.about.text7}
      | #{$i18n.about.text8}

    h4 Update Schedule

    p
      table.table
        thead
          tr
            th(scope="row") Priority
            th(scope="row") TODO
            th(scope="row") By
            th(scope="row") Status
        tbody
          tr
            td(scope="row") 1
            td Open Webshop for worldwide
            td Shingo
            td NotYet
          tr
            td(scope="row") 2
            td New console
            td Mariko
            td NotYet
          tr
            td(scope="row") 3
            td
              | Support 
              a.link(href="https://ifttt.com/maker_webhooks" target="_blank") IFTTT Webhook
            td Mariko
            td NotYet
          tr
            td(scope="row") 4
            td
              | Detail 
              a.link(href="/"+$localeName+"/maker/index.html" target="_blank") For Makers
            td Shingo
            td NotYet

