extends layout

block main

    h4 #{$i18n.about.label}

    p
      | #{$i18n.about.text1}
      a.link(href="https://www.facebook.com/hisakawa" target="_blank") #{$i18n.about.text2}
      | #{$i18n.about.text3}
      a.link(href="https://www.facebook.com/maripo" target="_blank") #{$i18n.about.text4}
      | #{$i18n.about.text5}

    p
      | #{$i18n.about.text6} 
      a.link(href="https://ssar.space" target="_blank") #{$i18n.about.text7}
      | #{$i18n.about.text8}
