extends layout

block main

  - var dir = 'assy'
  - var subdir = 'body'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      +itemlink(dir, 'unbox', 4)
      | #{$i18n[dir][subdir].items[0].text1}
    p
      - var img = "/assy/images/body-woods.jpg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table)

    +itemtitle(dir, subdir, 1)

    p
      - var img = "/assy/images/body-fanguard.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text1}

    p
      - var img = "/assy/images/body-spacers.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text2}

    p
      - var img = "/assy/images/body-foot.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text3}

    p
      - var img = "/assy/images/body-sides.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text4}

    p
      - var img = "/assy/images/body-top.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text5}

    +itemtitle(dir, subdir, 2)

    p
      - var img = "/assy/images/body-pcb.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[2].text1}

    +itemtitle(dir, subdir, 3)

    p
      - var img = "/assy/images/body-pcb-a.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[3].text1}

    p
      - var img = "/assy/images/body-pcb-b.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[3].text2}

    p
      - var img = "/assy/images/body-pcb-c.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[3].text3}

    p
      - var img = "/assy/images/body-pcb-d.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[3].text4}

    p
      - var img = "/assy/images/body-pcb-well-ready.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[3].text5}

    +itemtitle(dir, subdir, 4)

    p
      - var img = "/assy/images/body-pcb-well-set.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[4].text1}

    p
      - var img = "/assy/images/body-pcb-well-connect.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[4].text2}

    p
      - var img = "/assy/images/body-complete.jpg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[4].text3}

    +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)
