extends layout

block main

  - var dir = 'assy'
  - var subdir = 'body'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
    p
      - var img = "/assy/images/body-woods.jpg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table1)

    - var img = "/assy/images/unbox-bag3.jpg"
    +image(img, img)
    p
      +table($i18n[dir][subdir].items[0].table2)
      
    +itemtitle(dir, subdir, 1)

    p
      .row
        - var img = "/assy/images/body-fanguard1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-fanguard2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text1}

    p
      .row
        - var img = "/assy/images/body-spacers.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text2}

    p
      .row
        - var img = "/assy/images/body-foot1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-foot2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text3}

    p
      .row
        - var img = "/assy/images/body-sides.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text4}

    p
      .row
        - var img = "/assy/images/body-top.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text5}

    +itemtitle(dir, subdir, 2)

    p
      .row
        +note(100, "スペーサとか？という人でもわかりやすいよう1本のプロセスを拡大して撮影")
        - var img = "/assy/images/body-pcb1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-pcb2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[2].text1}

    +itemtitle(dir, subdir, 3)

    p
      .row
        +note(101, "拡大図ほしい")
        - var img = "/assy/images/body-pcb-a1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-pcb-a2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text1}

    p
      .row
        - var img = "/assy/images/lid-cable-twist.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/body-pcb-b.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text2}

    p
      .row
        - var img = "/assy/images/body-pcb-c.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-pcb-c2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text3}

    p
      .row
        - var img = "/assy/images/body-pcb-d1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-pcb-d2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text4}

    p
      .row
        - var img = "/assy/images/body-pcb-d3.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text5}

    p
      | #{$i18n[dir][subdir].items[3].text6}

    +itemtitle(dir, subdir, 4)

    p
      .row
        - var img = "/assy/images/body-pcb-well-set.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[4].text1}

    p
      .row
        - var img = "/assy/images/body-pcb-well-connect.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-pcb-well-connect2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[4].text2}

    p
      .row
        - var img = "/assy/images/body-complete1.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[4].text3}

    +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)
