extends layout

block main

  - var dir = 'assy'
  - var subdir = 'lid'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      - var img = "/assy/images/lid-woods.jpg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table1)

    p
      +note('1', 'マルチスパナを入れた写真に差し替え')
      - var img = "/assy/images/unbox-bag1.jpg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table2)

    +itemtitle(dir, subdir, 1)
    p
      .row
       - var img = "/assy/images/lid-screws1.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-screws2.jpg"
        +process-image(img, img, img)
        +note('1001', '先にナットで固定してからヒーターを取り付ける写真に差し替え。NG例もほしい')
        | #{$i18n[dir][subdir].items[1].text1}

    p 
      .row
        - var img = "/assy/images/lid-heater2.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-heater1.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-heater3.jpg"
        +process-image(img, img, img)
      | #{$i18n[dir][subdir].items[1].text2}

    p
      .row
        - var img = "/assy/images/lid-sponge.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text3}

    p
      .row
        - var img = "/assy/images/lid-lift1.jpg"
          +process-image(img, img, img)
        - var img = "/assy/images/lid-lift2.jpg"
          +process-image(img, img, img)
        - var img = "/assy/images/lid-lift3.jpg"
          +process-image(img, img, img)
      | #{$i18n[dir][subdir].items[1].text4}

    +itemtitle(dir, subdir, 2)
    
    p
      .row
        - var img = "/assy/images/lid-bottom1.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-bottom2.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-bottom3.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-bottom4.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/lid-bottom5.jpg"
        +process-image(img, img, img)
      | #{$i18n[dir][subdir].items[2].text1}

    p
      .row
      +note('1002', 'ヒーターの線を入れるプロセスの写真を追加')
        - var img = "/assy/images/lid-wire1.jpg"
          +process-image(img, img, img)
        - var img = "/assy/images/lid-wire2.jpg"
          +process-image(img, img, img)
      | #{$i18n[dir][subdir].items[2].text2}
    
    +itemtitle(dir, subdir, 3)
    
    p
      .row
        - var img = "/assy/images/lid-complete.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text1}

    +nextstep('/assy/well/index.html', $i18n.assy.well.label)
