extends layout

block main

  - var dir = 'assy'
  - var subdir = 'lid'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      +itemlink(dir, 'unbox', 2)
      | #{$i18n[dir][subdir].items[0].text1}
      - var img = "/assy/images/lid-woods.svg"
    p
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table)

    +itemtitle(dir, subdir, 1)

    p
      - var img = "/assy/images/lid-heater.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text1}

    p
      - var img = "/assy/images/lid-screws.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text2}

    p
      - var img = "/assy/images/lid-sponge.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text3}

    p
      - var img = "/assy/images/lid-lift.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[1].text4}

    +itemtitle(dir, subdir, 2)
    
    p
      - var img = "/assy/images/lid-bottom.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[2].text1}

    p
      - var img = "/assy/images/lid-wire.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[2].text2}
    
    +itemtitle(dir, subdir, 3)
    
    p
      - var img = "/assy/images/lid-complete.svg"
      +image(img, img)
      | #{$i18n[dir][subdir].items[3].text1}

    +nextstep('/assy/well/index.html', $i18n.assy.well.label)
