extends layout

block main

  - var dir = 'assy'
  - var subdir = 'index'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n.assy.index.items[0].text1}

    +itemtitle(dir, subdir, 1)
    
    p
      | #{$i18n.assy.index.items[1].text1}
    
    +itemtitle(dir, subdir, 2)
    
    p
      | #{$i18n.assy.index.items[2].text1}
    
    +itemtitle(dir, subdir, 3)
    
    p
      | #{$i18n.assy.index.items[3].text1}
    
    +itemtitle(dir, subdir, 4)
    
    p
      | #{$i18n.assy.index.items[4].text1}
    
    +itemtitle(dir, subdir, 5)
    
    p
      | #{$i18n.assy.index.items[5].text1}
    
    +nextstep('/assy/unbox/index.html', $i18n.assy.unbox.label)
