extends layout

block main

  - var dir = 'assy'
  - var subdir = 'index'

  p
    h4 #{$i18n.assy.index.label}

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n.assy.index.items[0].text1}

    +itemtitle(dir, subdir, 1)
    
    p
      | #{$i18n.assy.index.items[1].text1}
    
    +itemtitle(dir, subdir, 2)
    
    p
      | #{$i18n.assy.index.items[2].text1}
    
    +itemtitle(dir, subdir, 3)
    
    p
      | #{$i18n.assy.index.items[3].text1}
      a.link(href="https://play.google.com/store/apps/details?id=st.tori.ninjapcrwifi", target="_blank") #{$i18n.assy.index.items[3].text2}
      | #{$i18n.assy.index.items[3].text3}
    
    +itemtitle(dir, subdir, 4)
    
    p
      | #{$i18n.assy.index.items[4].text1}
      a.link(href="https://github.com/hisashin/NinjaPCR", target="_blank") #{$i18n.assy.index.items[4].text2}
      | #{$i18n.assy.index.items[4].text3}
    
    +itemtitle(dir, subdir, 5)
    
    p
      | #{$i18n.assy.index.items[5].text1}

    +itemtitle(dir, subdir, 6)

    p
      +note('1', '表面と裏面のサンプル画像をここに追加/wood-faces.jpg')
      - var img = "/assy/images/wood-faces.jpg"
      +image(img, img)
      
      | #{$i18n.assy.index.items[6].text1}
      
    +nextstep('/assy/unbox/index.html', $i18n.assy.unbox.label)
