extends ../layout-nav

block navbar
  a.navbar-brand(href="/") NinjaPCR
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="navbarCollapse")
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/console/") #{$i18n.console.label}
      li.nav-item
        a.nav-link(href="/assy/") #{$i18n.assy.label}
      li.nav-item.active
        a.nav-link(href="/shop/") #{$i18n.shop.label}
        span.sr-only (current)
      li.nav-item
        a.nav-link(href="https://github.com/hisashin/NinjaPCR", target="_blank")
          span(data-feather="github")
      li.nav-item
        span.nav-link
          a(href="#", onClick="langRedirect('en')", class= isEn ? "active" : "") EN
          | &nbsp;|&nbsp;
          a(href="#", onClick="langRedirect('ja')", class= isJa ? "active" : "") JA
    
    //form.form-inline.mt-2.mt-md-0
    //  input.form-control.mr-sm-2(type="text", placeholder="Search", aria-label="Search")
    //  button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

block sidebar
  .sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="/console/")
          span(data-feather="droplet")
          | #{$i18n.console.label}
      li.nav-item
        a.nav-link(href="/assy/")
          span(data-feather="life-buoy")
          | #{$i18n.assy.label}
      li.nav-item
        a.nav-link.active(href="/shop/")
          span(data-feather="shopping-cart")
          | #{$i18n.shop.label}
          span.sr-only (current)

