extends layout

block main

  - var dir = 'maker'
  - var subdir = 'index'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      .row
        - var img = "/maker/images/maker_and_kit1.jpg"
        +process-image(img, img)
        - var img = "/maker/images/maker_and_kit5.jpg"
        +process-image(img, img)
        - var img = "/maker/images/maker_and_kit6.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[0].text1}
      a.link(href="https://github.com/hisashin/NinjaPCR", target="_blank") #{$i18n[dir][subdir].items[0].text2}
      | #{$i18n[dir][subdir].items[0].text3}

    +itemtitle(dir, subdir, 1)

    p
      h5 #{$i18n[dir][subdir].items[1].text1}
      p
        .row
          - var img = "/maker/images/kit1.jpg"
          +process-image(img, img)
          - var img = "/maker/images/kit6.jpg"
          +process-image(img, img)
        | #{$i18n[dir][subdir].items[1].text2}

      h5 #{$i18n[dir][subdir].items[1].text3}
      p
        .row
          - var img = "/maker/images/pcb1.jpg"
          +process-image(img, img)
          - var img = "/maker/images/firmware_power.jpg"
          +process-image(img, img)
        | #{$i18n[dir][subdir].items[1].text4}
        a.link(href="https://www.aliexpress.com/", target="_blank") #{$i18n[dir][subdir].items[1].text5}
        | #{$i18n[dir][subdir].items[1].text6}
        a.link(href="https://github.com/hisashin/NinjaPCR/tree/master/cad/2d", target="_blank") #{$i18n[dir][subdir].items[1].text7}
        | #{$i18n[dir][subdir].items[1].text8}

      h5 #{$i18n[dir][subdir].items[1].text9}
      p
        .row
          - var img = "/maker/images/firmware_serial.jpg"
          +process-image(img, img)
          - var img = "/maker/images/firmware_serial_jumper1.jpg"
          +process-image(img, img)
        | #{$i18n[dir][subdir].items[1].text10}
        a.link(href="https://www.sparkfun.com/products/14050", target="_blank") #{$i18n[dir][subdir].items[1].text11}
        | #{$i18n[dir][subdir].items[1].text12}
        a.link(href="https://www.arduino.cc/en/Main/Software", target="_blank") #{$i18n[dir][subdir].items[1].text13}
        | #{$i18n[dir][subdir].items[1].text14}

      h5 #{$i18n[dir][subdir].items[1].text15}
      p
        | #{$i18n[dir][subdir].items[1].text16}

    +itemtitle(dir, subdir, 2)

    p
      h5 #{$i18n[dir][subdir].items[2].text1}
      p
        | #{$i18n[dir][subdir].items[2].text2}
        a.link(href="https://shop.tori.st/product/well/", target="_blank") #{$i18n[dir][subdir].items[2].text3}
        | #{$i18n[dir][subdir].items[2].text4}
        a.link(href="https://shop.tori.st/product/heater/", target="_blank") #{$i18n[dir][subdir].items[2].text5}
        | #{$i18n[dir][subdir].items[2].text6}

      h5 #{$i18n[dir][subdir].items[2].text7}
      p
        | #{$i18n[dir][subdir].items[2].text8}
        a.link(href="https://wiki.hackerspaces.org/", target="_blank") #{$i18n[dir][subdir].items[2].text9}
        | #{$i18n[dir][subdir].items[2].text10}
        a.link(href="http://www.fabfoundation.org/index.php/fab-labs/index.html", target="_blank") #{$i18n[dir][subdir].items[2].text11}
        | #{$i18n[dir][subdir].items[2].text12}
        a.link(href="/"+$localeName+"/contact/index.html", target="_blank") #{$i18n[dir][subdir].items[2].text13}
        | #{$i18n[dir][subdir].items[2].text14}

    +itemtitle(dir, subdir, 3)

    p
      h5 #{$i18n[dir][subdir].items[3].text1}
      p
        | #{$i18n[dir][subdir].items[3].text2}
      h5 #{$i18n[dir][subdir].items[3].text3}
      p
        | #{$i18n[dir][subdir].items[3].text4}

    +nextstep('/maker/list/index.html', $i18n.maker.list.label)
