extends layout

block main

  - var dir = 'maker'
  - var subdir = 'index'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      a.link(href="https://a360.co/2y96BCu", target="_blank") #{$i18n[dir][subdir].items[0].text2}
      | #{$i18n[dir][subdir].items[0].text3}
      a.link(href="https://a360.co/2y96BCu", target="_blank") #{$i18n[dir][subdir].items[0].text4}
      | #{$i18n[dir][subdir].items[0].text5}
      a.link(href="https://groups.google.com/d/forum/ninjapcr-makers", target="_blank") #{$i18n[dir][subdir].items[0].text6}
      | #{$i18n[dir][subdir].items[0].text7}
