extends ../layout

block append metas
  - var dir = 'maker'
  - var subdir = 'firmware'
  +meta(metas, $i18n[dir].label, $i18n[dir][subdir].items[0].title)

block navbar
  +navbar('/maker/firmware/')

block sidebar
  +sidebar('/maker/firmware/')

block main

  +itemhead(dir, subdir)

  +itemtitle(dir, subdir, 0)
  p #{$i18n[dir][subdir].items[0].text1}
  .row
    - var img = "/maker/images/firmware_goods.jpg"
    +process-image(img, img)

  //- Arduino IDEをインストール
  +itemtitle(dir, subdir, 1)
  p #{$i18n[dir][subdir].items[1].text1}
    a.link(href="https://www.arduino.cc/en/Main/Software") Arduino.cc
    | #{$i18n[dir][subdir].items[1].text2}
    br
    a.link(href="https://www.arduino.cc/en/Main/Software") https://www.arduino.cc/en/Main/Software

  //- ArduinoのESP8266対応
  +itemtitle(dir, subdir, 2)
  p #{$i18n[dir][subdir].items[2].text1}
  p #{$i18n[dir][subdir].items[2].text2}
  p #{$i18n[dir][subdir].items[2].text3}
    | "http://arduino.esp8266.com/stable/package_esp8266com_index.json"
    | #{$i18n[dir][subdir].items[2].text4}
  .row
    - var img = "/maker/images/firmware_arduino_board_manager1.png"
    +process-image(img, img)
    - var img = "/maker/images/firmware_arduino_board_manager2.png"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[2].text5}
    | #{$i18n[dir][subdir].items[2].text6}
  .row
    - var img = "/maker/images/firmware_arduino_board_manager3.png"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[2].text7}
    a.link(href="https://github.com/esp8266/Arduino") #{$i18n[dir][subdir].items[2].text8}
    | #{$i18n[dir][subdir].items[2].text9}

  //- NinjaPCRのソースコードをダウンロード
  +itemtitle(dir, subdir, 3)
  p #{$i18n[dir][subdir].items[3].text1}
    a.link(href="https://github.com/hisashin/NinjaPCR") #{$i18n[dir][subdir].items[3].text2}
    | #{$i18n[dir][subdir].items[3].text3}
    | "git@github.com:hisashin/NinjaPCR.git"
    | #{$i18n[dir][subdir].items[3].text4}
  .row
    - var img = "/maker/images/firmware_github.png"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[3].text5}
    | "arduino/NinjaPCR/NinjaPCR.ino"
    #{$i18n[dir][subdir].items[3].text6}
  .row
    - var img = "/maker/images/firmware_ninjapcr_ino.png"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[3].text7}
    | #{$i18n[dir][subdir].items[3].text8}
  .row
    - var img = "/maker/images/firmware_board_select.png"
  p #{$i18n[dir][subdir].items[3].text9}
  .row
    - var img = "/maker/images/firmware_ninjapcr_verify.png"
    +process-image(img, img)

  //- NinjaPCR本体をPCに接続
  +itemtitle(dir, subdir, 4)
  p #{$i18n[dir][subdir].items[4].text1}
  .row
    - var img = "/maker/images/firmware_power.jpg"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[4].text2}
    | #{$i18n[dir][subdir].items[4].text3}
  .row
    - var img = "/maker/images/firmware_serial.jpg"
    +process-image(img, img)
    - var img = "/maker/images/firmware_pins_usbserial.png"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[4].text4}
    | #{$i18n[dir][subdir].items[4].text5}
  .row
    - var img = "/maker/images/firmware_serial_jumper1.jpg"
    +process-image(img, img)
    - var img = "/maker/images/firmware_pins_jumper.png"
    +process-image(img, img)
  .row
    - var img = "/maker/images/firmware_serial_jumper2.jpg"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[4].text6}
    | #{$i18n[dir][subdir].items[4].text7}
  p #{$i18n[dir][subdir].items[4].text8}
  .row
    - var img = "/maker/images/firmware_serial_bootmode.png"
    +process-image(img, img)

  //- 書き込み
  +itemtitle(dir, subdir, 5)
  p #{$i18n[dir][subdir].items[5].text1}
  .row
    - var img = "/maker/images/firmware_ninjapcr_upload.png"
    +process-image(img, img)
  p #{$i18n[dir][subdir].items[5].text2}
  p #{$i18n[dir][subdir].items[5].text3}

  //- デバッグ
  +itemtitle(dir, subdir, 6)
  p #{$i18n[dir][subdir].items[6].text1}
  p #{$i18n[dir][subdir].items[6].text2}
  p #{$i18n[dir][subdir].items[6].text3}

  +nextstep('/assy/setup/index.html', $i18n.assy.setup.label)
