mixin meta(metas, title)
  - metas.title = title + ' - NinjaPCR'

mixin youtube(id, start, target)
  - let href = 'https://youtu.be/' + id + (start > 0 ? "?t="+start+"s" : "")
  - let t = target ? target : "_blank"
  a.link(href= href, target= t)
    span(data-feather="youtube")
    
mixin youtube_embed(id, start)
  - let src = 'https://www.youtube.com/embed/' + id + '?rel=0&amp;showinfo=0' + (start > 0 ? "&amp;start=="+start : "")
  .col-8.col-sm-6.col-md-4
    iframe.w-100.h-100(src= src frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    
mixin process-youtube(id, start)
  - let src = 'https://www.youtube.com/embed/' + id + '?rel=0&amp;showinfo=0' + (start > 0 ? "&amp;start=="+start : "")
  .row(style="margin-bottom:0.5em")
    .col-12.col-lg-8
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src= src frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

mixin note(id, title, body)
  if process.platform == 'darwin'
    - let anchor = '#' + id
    span.link(data-feather="alert-circle" data-toggle="modal" data-target= anchor)
    +modal(id, title, body)

mixin modal(id, title, body)
  .modal.fade(id= id, tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          if title
            h5.modal-title #{title}
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
        if body
          .modal-body
            p #{body}
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

mixin image(path, href, alt)
  if !alt
    - var alt = path
  if href
    a(href= href, target="_blank")
      img.w-100.img-fluid.item-img(src= path, alt= alt)
  else
    img.w-100.img-fluid.item-img(src= path, alt= alt)

mixin image2(path1, href1, alt1, path2, href2, alt2)
  if !alt1
    - var alt1 = path1
  if !alt2
    - var alt2 = path2
  .w-100.img-fluid
    if href1
      a(href= href1, target="_blank")
        img.col-12.col-sm-6.col-md-4.item-img(src= path1, alt= alt1)
    else
      img.col-12.col-sm-6.col-md-4.item-img(src= path1, alt= alt1)
    if href2
      a(href= href2, target="_blank")
        img.col-12.col-sm-6.col-md-4.item-img(src= path2, alt= alt2)
    else
      img.col-12.col-sm-6.col-md-4.item-img(src= path2, alt= alt2)

mixin process-images()
  .row

mixin process-image(path, href, alt)

  if href
    .col-8.col-sm-6.col-md-4
      a(href= href, target="_blank" id= path)
        img.w-100.item-img(src= path, alt= alt)
  else
    .col-8.col-sm-6.col-md-4
      img.w-100.item-img(src= path, alt= alt)
      
mixin screenshot-image(path, href, maxwidth)
  .img-fluid
      a(href= href, target="_blank")
        if maxwidth
          img.w-100.item-img(src= path, style="max-width:"+maxwidth+"px")
        else
          img.w-100.item-img(src= path, style="max-width:320px")
  
  

mixin table(table)
  table.table
    if table.head
      thead
        tr
          each col,index in table.head
            th(scope="col") #{col}
    if table.body
      tbody
        each row in table.body
          tr
            each col,index in row
              -
                let colspan = String(col).match(/^colspan=(.*):(.*)$/)
                if(colspan)col = colspan[2]
              td(scope= index == 0 ? "row" : "", colspan= colspan ? colspan[1] : "")
                - let link = String(col).match(/^(.*)@(https?:\/\/.*)$/)
                if /^img::/.test(col)
                  img.w-10.img-fluid.item-img(src= col.replace("img::", ""))
                else if (link)
                  a.link(href= link[2] target="_blank") #{link[1]}
                else if /^https?:\/\//.test(col)
                  a.link(href= col target="_blank") #{col}
                else
                  | #{col}

mixin itemhead(dir, subdir)
  script $('body').scrollspy({ target: "#sidebar-#{dir}-#{subdir}" })
  .scrollspy-example(data-spy="scroll", data-target="#sidebar-"+dir+"-"+subdir, data-offset="0")
  if block
    block

mixin itemtitle(dir, subdir, index)
  - let item = $i18n[dir][subdir].items[parseInt(index)]
  - let id = "item-"+dir+"-"+subdir+"-"+index
  if item
    if item.imgPre
      +image(item.imgPre, item.imgPre)
    h4(id= id) #{item.title}
    if item.text
      p
        if item.imgMid
          +image(item.imgMid, item.imgMid)
        | #{item.text}
        if item.imgPos
          +image(item.imgPos, item.imgPos)

mixin itemlink(dir, subdir, index)
  - let href1 = "/"+$localeName+"/"+dir
  - let href2 = subdir == 'index' ? "/index.html" : "/" + subdir+"/index.html"
  - let href3 = "#item-"+dir+"-"+subdir+"-"+index
  a.link(href= href1 + href2 + href3) #{$i18n[dir][subdir].items[index].title}

mixin nextstep(nextPath, nextLabel)
  if nextPath && nextLabel
    a.btn.btn-lg.btn-primary(href="/"+$localeName+nextPath) #{$i18n.general.nextstep}#{nextLabel}
    .offset

