mixin contact(name)
  if $localeName == 'ja'
    - var href = "https://docs.google.com/forms/d/e/1FAIpQLSd1kt-924LR3ok9-o1jbuZSMr0d7Sbo92SJtkam85dVuzjB_g/viewform?usp=sf_link"
  else
    - var href = "https://docs.google.com/forms/d/e/1FAIpQLSf48pMz4yPdDtF7h_LtshZg0o0rRsG9BcfMrM-TcWgMvUU83Q/viewform?usp=sf_link"
  a(class!=attributes.class, href= href, target="_blank")
    if name
      | #{name}
    if block
      block

mixin image(path, href, alt)
  if href
    a(href= href, target="_blank")
      img.w-100.img-fluid.item-img(src= path, alt= alt)
  else
    img.w-100.img-fluid.item-img(src= path, alt= alt)

mixin table(table)
  table.table
    if table.head
      thead
        tr
          each col,index in table.head
            th(scope="col") #{col}
    if table.body
      tbody
        each row in table.body
          tr
            each col,index in row
              if index == 0
                td(scope="row") #{col}
              else
                td #{col}

mixin itemhead(dir, subdir)
  script $('body').scrollspy({ target: "#sidebar-#{dir}-#{subdir}" })
  .scrollspy-example(data-spy="scroll", data-target="#sidebar-"+dir+"-"+subdir, data-offset="0")
  if block
    block

mixin itemtitle(dir, subdir, index, title, subtitle)
  - let id = "item-"+dir+"-"+subdir+"-"+index
  h4(id= id) #{title}
  if subtitle
    h6 #{subtitle}

mixin nextstep(nextPath, nextLabel)
  if nextPath && nextLabel
    a.btn.btn-lg.btn-primary(href="/"+$localeName+nextPath) #{$i18n.general.nextstep}#{nextLabel}
    .offset

