mixin note(id, title, body)
  - let anchor = '#' + id
  span.link(data-feather="alert-circle" data-toggle="modal" data-target= anchor)
  +modal(id, title, body)

mixin modal(id, title, body)
  .modal.fade(id= id, tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          if title
            h5.modal-title #{title}
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
        if body
          .modal-body
            p #{body}
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

mixin contact(name)
  if $localeName == 'ja'
    - var href = "https://docs.google.com/forms/d/e/1FAIpQLSd1kt-924LR3ok9-o1jbuZSMr0d7Sbo92SJtkam85dVuzjB_g/viewform?usp=sf_link"
  else
    - var href = "https://docs.google.com/forms/d/e/1FAIpQLSf48pMz4yPdDtF7h_LtshZg0o0rRsG9BcfMrM-TcWgMvUU83Q/viewform?usp=sf_link"
  a(style!=attributes.style, class!=attributes.class, href= href, target="_blank")
    if name
      | #{name}
    if block
      block

mixin image(path, href, alt)
  if !alt
    - var alt = path
  if href
    a(href= href, target="_blank")
      img.w-100.img-fluid.item-img(src= path, alt= alt)
  else
    img.w-100.img-fluid.item-img(src= path, alt= alt)

mixin image2(path1, href1, alt1, path2, href2, alt2)
  if !alt1
    - var alt1 = path1
  if !alt2
    - var alt2 = path2
  .w-100.img-fluid
    if href1
      a(href= href1, target="_blank")
        img.col-12.col-sm-6.col-md-4.item-img(src= path1, alt= alt1)
    else
      img.col-12.col-sm-6.col-md-4.item-img(src= path1, alt= alt1)
    if href2
      a(href= href2, target="_blank")
        img.col-12.col-sm-6.col-md-4.item-img(src= path2, alt= alt2)
    else
      img.col-12.col-sm-6.col-md-4.item-img(src= path2, alt= alt2)

mixin process-images()
  .row

mixin process-image(path, href, alt)

  if href
    .col-8.col-sm-6.col-md-4
      a(href= href, target="_blank")
        img.w-100.item-img(src= path, alt= alt)
  else
    .col-8.col-sm-6.col-md-4
      img.w-100.item-img(src= path, alt= alt)

mixin table(table)
  table.table
    if table.head
      thead
        tr
          each col,index in table.head
            th(scope="col") #{col}
    if table.body
      tbody
        each row in table.body
          tr
            each col,index in row
              if index == 0
                td(scope="row") #{col}
              else
                td #{col}

mixin itemhead(dir, subdir)
  script $('body').scrollspy({ target: "#sidebar-#{dir}-#{subdir}" })
  .scrollspy-example(data-spy="scroll", data-target="#sidebar-"+dir+"-"+subdir, data-offset="0")
  if block
    block

mixin itemtitle(dir, subdir, index)
  - let item = $i18n[dir][subdir].items[parseInt(index)]
  - let id = "item-"+dir+"-"+subdir+"-"+index
  if item
    if item.imgPre
      +image(item.imgPre, item.imgPre)
    h4(id= id) #{item.title}
    if item.text
      p
        if item.imgMid
          +image(item.imgMid, item.imgMid)
        | #{item.text}
        if item.imgPos
          +image(item.imgPos, item.imgPos)

mixin itemlink(dir, subdir, index)
  - let href1 = "/"+$localeName+"/"+dir
  - let href2 = subdir == 'index' ? "/index.html" : "/" + subdir+"/index.html"
  - let href3 = "#item-"+dir+"-"+subdir+"-"+index
  a.link(href= href1 + href2 + href3) #{$i18n[dir][subdir].items[index].title}

mixin nextstep(nextPath, nextLabel)
  if nextPath && nextLabel
    a.btn.btn-lg.btn-primary(href="/"+$localeName+nextPath) #{$i18n.general.nextstep}#{nextLabel}
    .offset

