extends layout-nav

block append head
  link(rel='stylesheet', href='/css/carousel.css')
  style(type='text/css')
    | body { padding-top : 42px; }

block content
  +navbar('/nocurrent/console/assy/op/maker/req/about/store/')

  main(role="main")
    +realtime
    include includes/carousel.pug

    div(style="max-width:800px;padding:2em;margin:auto;")

      .row.featurette#wifi
        .col-md-7.order-md-2
          h2 #{$i18n.index.features.wifi.title}
          ul
            li #{$i18n.index.features.wifi.text2}
            li #{$i18n.index.features.wifi.text3}
            li #{$i18n.index.features.wifi.text1}
              br
              img(src="/images/diagram_server_ap_simple.png" style="max-width:100%")
        .col-md-5.order-md-1.img-container
          img.featurette-image.img-fluid.mx-aut(src="/images/top_wifi.jpg" alt="Wi-Fi" style="border:1px solid #ddd;max-width:280px;")

      hr.featurette-divider

      .row.featurette#accuracy
        .col-md-7.order-md-2
          h2 #{$i18n.index.features.accuracy.title}
          ul
            li #{$i18n.index.features.accuracy.text1}
            li #{$i18n.index.features.accuracy.text2}
            li #{$i18n.index.features.accuracy.text3}
        .col-md-5.order-md-1.img-container
          img.featurette-image.img-fluid.mx-aut(src="/images/top_accuracy.jpg" alt="Accuracy" style="border:1px solid #ddd;max-width:280px;")

      hr.featurette-divider

      .row.featurette#open
        .col-md-7.order-md-2
          h2 #{$i18n.index.features.open.title}
          ul
            li #{$i18n.index.features.open.text1}
            li #{$i18n.index.features.open.text2} (
              a.link(href="/maker/index.html") #{$i18n.index.features.open.text3}
              | )
        .col-md-5.order-md-1.img-container
          img.featurette-image.img-fluid.mx-aut(src="/images/top_open.jpg" alt="Wi-Fi" style="border:1px solid #ddd;max-width:280px;")


    footer.container.w-100.offset
      .row.justify-content-md-center
        //p.float-right
        //  a(href="#") Back to top
        p.col-md-auto
          | &copy; 2018
          a(href="https://www.tori.st", target="_blank") Toriningen, Inc.
