extends layout

mixin navbar(dir)
  - var isConsole = /\/console\//.test(dir)
  - var isAssy = /\/assy\//.test(dir)
  - var isStore = /\/store\//.test(dir)
  a.navbar-brand(href="/") NinjaPCR
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="navbarCollapse")
    ul.navbar-nav
      li.nav-item(class= isConsole ? "active" : "")
        a.nav-link(href="/"+$localeName+"/console/index.html") #{$i18n.console.label}
        if isConsole
           span.sr-only (current)
      li.nav-item(class= isAssy ? "active" : "")
        a.nav-link(href="/"+$localeName+"/assy/index.html") #{$i18n.assy.label}
        if isAssy
          span.sr-only (current)
      li.nav-item(class= isStore ? "active" : "")
        a.nav-link(href="/"+$localeName+"/store/index.html") #{$i18n.store.label}
        if isStore
          span.sr-only (current)
    ul.navbar-nav.ml-auto
      
      if $localeName == 'en'
        li.nav-item
          a.nav-link(href="http://eepurl.com/dxIEcn", target="_blank")
            span(data-feather="mail")
      
      li.nav-item
        a.nav-link(href="https://github.com/hisashin/NinjaPCR", target="_blank")
          span(data-feather="github")
      li.nav-item
        span.nav-link
          if $localeName == 'en'
            span EN
          else
            a(style="color:#fff;", href="#", onClick="langRedirect('en')", class= isEn ? "active" : "") EN
          | &nbsp;|&nbsp;
          if $localeName == 'ja'
            span JA
          else
            a(style="color:#fff;", href="#", onClick="langRedirect('ja')", class= isJa ? "active" : "") JA

mixin sidebar(dir)
  - var isConsole = /\/console\//.test(dir)
  - var isAssy = /\/assy\//.test(dir)
  - var isStore = /\/store\//.test(dir)
  .sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="/"+$localeName+"/console/index.html", class= isConsole ? "active" : "")
          span(data-feather="droplet")
          | #{$i18n.console.label}
          if isConsole
            span.sr-only (current)
      li.nav-item
        a.nav-link(href="/"+$localeName+"/assy/index.html", class= isAssy ? "active" : "")
          span(data-feather="life-buoy")
          | #{$i18n.assy.label}
          if isAssy
            span.sr-only (current)
        if isAssy
          - var isAssyUnbox = /\/assy\/unbox\//.test(dir)
          - var isAssyLid = /\/assy\/lid\//.test(dir)
          - var isAssyWell = /\/assy\/well\//.test(dir)
          - var isAssyBody = /\/assy\/body\//.test(dir)
          - var isAssySetup = /\/assy\/setup\//.test(dir)
          - var isAssyIntro = (!isAssyUnbox && !isAssyLid && !isAssyWell & !isAssyBody && !isAssySetup)
          .list-group.list-group-root.well
            a.list-group-item(href="/"+$localeName+"/assy/index.html", class= isAssyIntro ? "active" : "") #{$i18n.assy.index.label}
            a.list-group-item(href="/"+$localeName+"/assy/unbox/index.html", class= isAssyUnbox ? "active" : "") #{$i18n.assy.unbox.label}
            a.list-group-item(href="/"+$localeName+"/assy/lid/index.html", class= isAssyLid ? "active" : "") #{$i18n.assy.lid.label}
            a.list-group-item(href="/"+$localeName+"/assy/well/index.html", class= isAssyWell ? "active" : "") #{$i18n.assy.well.label}
            a.list-group-item(href="/"+$localeName+"/assy/body/index.html", class= isAssyBody ? "active" : "") #{$i18n.assy.body.label}
            a.list-group-item(href="/"+$localeName+"/assy/setup/index.html", class= isAssySetup ? "active" : "") #{$i18n.assy.setup.label}
      li.nav-item
        a.nav-link(href="/"+$localeName+"/store/index.html", class= isStore ? "active" : "")
          span(data-feather="shopping-cart")
          | #{$i18n.store.label}
          if isStore
            span.sr-only (current)

block append head
  link(rel='stylesheet', href='/css/common/navbar-top-fixed.css')
  link(rel='stylesheet', href='/css/common/dashboard.css')
 
block append content
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    block navbar

  .container-fluid
    .row
      nav.col-md-2.d-none.d-md-block.bg-light.sidebar
        block sidebar

      main.col-md-10.ml-sm-auto.col-lg-10.px-4(role="main")
        block main

  script(src="/js/common/feather.min.js")
  script feather.replace()
