extends layout

mixin navbar(dir)
  header
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      - var isConsole = /\/console\//.test(dir)
      - var isAssy = /\/assy\//.test(dir)
      - var isStore = /\/store\//.test(dir)
      a.navbar-brand(href="/") NinjaPCR
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id="navbarCollapse")
        ul.navbar-nav
          li.nav-item(class= isConsole ? "active" : "")
            a.nav-link(href="/"+$localeName+"/console/index.html") #{$i18n.console.label}
            if isConsole
              span.sr-only (current)
          li.nav-item(class= isAssy ? "active" : "")
            a.nav-link(href="/"+$localeName+"/assy/index.html") #{$i18n.assy.label}
            if isAssy
              span.sr-only (current)

        ul.navbar-nav.ml-auto      
          li.nav-item(class= isStore ? "active" : "active")
            a.nav-link(href="/"+$localeName+"/store/index.html")
              span(data-feather="shopping-cart")
            if isStore
              span.sr-only (current)
          if $localeName == 'en'
            li.nav-item.active
              a.nav-link(href="http://eepurl.com/dxIEcn", target="_blank")
                span(data-feather="rss")      
          li.nav-item.active
            a.nav-link(href="https://github.com/hisashin/NinjaPCR", target="_blank")
              span(data-feather="github")
          li.nav-item.active
            if $localeName == 'ja'
              a.nav-link(href="https://docs.google.com/forms/d/e/1FAIpQLSd1kt-924LR3ok9-o1jbuZSMr0d7Sbo92SJtkam85dVuzjB_g/viewform?usp=sf_link", target="_blank")
                span(data-feather="mail")
            else
              a.nav-link(href="https://docs.google.com/forms/d/e/1FAIpQLSf48pMz4yPdDtF7h_LtshZg0o0rRsG9BcfMrM-TcWgMvUU83Q/viewform?usp=sf_link", target="_blank")
                span(data-feather="mail")
          li.nav-item
            span.nav-link
              if $localeName == 'en'
                span EN
              else
                a(style="color:#fff;", href="#", onClick="langRedirect('en')", class= isEn ? "active" : "") EN
              | &nbsp;|&nbsp;
              if $localeName == 'ja'
                span JA
              else
                a(style="color:#fff;", href="#", onClick="langRedirect('ja')", class= isJa ? "active" : "") JA

mixin sidebar(dir)
  - var isConsole = /\/console\//.test(dir)
  - var isAssy = /\/assy\//.test(dir)
  - var isStore = /\/store\//.test(dir)
  .sidebar-sticky
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="/"+$localeName+"/console/index.html", class= isConsole ? "active" : "")
          span(data-feather="droplet")
          | #{$i18n.console.label}
          if isConsole
            span.sr-only (current)
      li.nav-item
        a.nav-link(href="/"+$localeName+"/assy/index.html", class= isAssy ? "active" : "")
          span(data-feather="life-buoy")
          | #{$i18n.assy.label}
          if isAssy
            span.sr-only (current)
        if isAssy
          - var isAssyUnbox = /\/assy\/unbox\//.test(dir)
          - var isAssyLid = /\/assy\/lid\//.test(dir)
          - var isAssyWell = /\/assy\/well\//.test(dir)
          - var isAssyBody = /\/assy\/body\//.test(dir)
          - var isAssySetup = /\/assy\/setup\//.test(dir)
          - var isAssyIntro = (!isAssyUnbox && !isAssyLid && !isAssyWell & !isAssyBody && !isAssySetup)
          .list-group.list-group-root.well
            a.list-group-item(href="/"+$localeName+"/assy/index.html", class= isAssyIntro ? "active" : "") #{$i18n.assy.intro.label}
            if isAssyIntro
              .list-group#sidebar-assy-intro
                a.list-group-item.list-group-item-action(href="#item-assy-intro-1") Item 1
                a.list-group-item.list-group-item-action(href="#item-assy-intro-1-1") Item 1-1
                a.list-group-item.list-group-item-action(href="#item-assy-intro-1-2") Item 1-2
                a.list-group-item.list-group-item-action(href="#item-assy-intro-2") Item 2
                a.list-group-item.list-group-item-action(href="#item-assy-intro-2-1") Item 2-1
                a.list-group-item.list-group-item-action(href="#item-assy-intro-2-2") Item 2-2
                a.list-group-item.list-group-item-action(href="#item-assy-intro-3") Item 3
                a.list-group-item.list-group-item-action(href="#item-assy-intro-3-1") Item 3-1
                a.list-group-item.list-group-item-action(href="#item-assy-intro-3-2") Item 3-2
            a.list-group-item(href="/"+$localeName+"/assy/unbox/index.html", class= isAssyUnbox ? "active" : "") #{$i18n.assy.unbox.label}
            if isAssyUnbox
              .list-group#sidebar-assy-unbox
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-1") Item 1
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-1-1") Item 1-1
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-1-2") Item 1-2
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-2") Item 2
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-2-1") Item 2-1
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-2-2") Item 2-2
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-3") Item 3
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-3-1") Item 3-1
                a.list-group-item.list-group-item-action(href="#item-assy-unbox-3-2") Item 3-2
            a.list-group-item(href="/"+$localeName+"/assy/lid/index.html", class= isAssyLid ? "active" : "") #{$i18n.assy.lid.label}
            if isAssyLid
              .list-group#sidebar-assy-lid
                a.list-group-item.list-group-item-action(href="#item-assy-lid-1") Item 1
                a.list-group-item.list-group-item-action(href="#item-assy-lid-1-1") Item 1-1
                a.list-group-item.list-group-item-action(href="#item-assy-lid-1-2") Item 1-2
                a.list-group-item.list-group-item-action(href="#item-assy-lid-2") Item 2
                a.list-group-item.list-group-item-action(href="#item-assy-lid-2-1") Item 2-1
                a.list-group-item.list-group-item-action(href="#item-assy-lid-2-2") Item 2-2
                a.list-group-item.list-group-item-action(href="#item-assy-lid-3") Item 3
                a.list-group-item.list-group-item-action(href="#item-assy-lid-3-1") Item 3-1
                a.list-group-item.list-group-item-action(href="#item-assy-lid-3-2") Item 3-2
            a.list-group-item(href="/"+$localeName+"/assy/well/index.html", class= isAssyWell ? "active" : "") #{$i18n.assy.well.label}
            if isAssyWell
              .list-group#sidebar-assy-well
                a.list-group-item.list-group-item-action(href="#item-assy-well-1") Item 1
                a.list-group-item.list-group-item-action(href="#item-assy-well-1-1") Item 1-1
                a.list-group-item.list-group-item-action(href="#item-assy-well-1-2") Item 1-2
                a.list-group-item.list-group-item-action(href="#item-assy-well-2") Item 2
                a.list-group-item.list-group-item-action(href="#item-assy-well-2-1") Item 2-1
                a.list-group-item.list-group-item-action(href="#item-assy-well-2-2") Item 2-2
                a.list-group-item.list-group-item-action(href="#item-assy-well-3") Item 3
                a.list-group-item.list-group-item-action(href="#item-assy-well-3-1") Item 3-1
                a.list-group-item.list-group-item-action(href="#item-assy-well-3-2") Item 3-2
            a.list-group-item(href="/"+$localeName+"/assy/body/index.html", class= isAssyBody ? "active" : "") #{$i18n.assy.body.label}
            if isAssyBody
              .list-group#sidebar-assy-body
                a.list-group-item.list-group-item-action(href="#item-assy-body-1") Item 1
                a.list-group-item.list-group-item-action(href="#item-assy-body-1-1") Item 1-1
                a.list-group-item.list-group-item-action(href="#item-assy-body-1-2") Item 1-2
                a.list-group-item.list-group-item-action(href="#item-assy-body-2") Item 2
                a.list-group-item.list-group-item-action(href="#item-assy-body-2-1") Item 2-1
                a.list-group-item.list-group-item-action(href="#item-assy-body-2-2") Item 2-2
                a.list-group-item.list-group-item-action(href="#item-assy-body-3") Item 3
                a.list-group-item.list-group-item-action(href="#item-assy-body-3-1") Item 3-1
                a.list-group-item.list-group-item-action(href="#item-assy-body-3-2") Item 3-2
            a.list-group-item(href="/"+$localeName+"/assy/setup/index.html", class= isAssySetup ? "active" : "") #{$i18n.assy.setup.label}
            if isAssySetup
              .list-group#sidebar-assy-setup
                a.list-group-item.list-group-item-action(href="#item-assy-setup-1") Item 1
                a.list-group-item.list-group-item-action(href="#item-assy-setup-1-1") Item 1-1
                a.list-group-item.list-group-item-action(href="#item-assy-setup-1-2") Item 1-2
                a.list-group-item.list-group-item-action(href="#item-assy-setup-2") Item 2
                a.list-group-item.list-group-item-action(href="#item-assy-setup-2-1") Item 2-1
                a.list-group-item.list-group-item-action(href="#item-assy-setup-2-2") Item 2-2
                a.list-group-item.list-group-item-action(href="#item-assy-setup-3") Item 3
                a.list-group-item.list-group-item-action(href="#item-assy-setup-3-1") Item 3-1
                a.list-group-item.list-group-item-action(href="#item-assy-setup-3-2") Item 3-2
    //-
      li.nav-item
        a.nav-link(href="/"+$localeName+"/store/index.html", class= isStore ? "active" : "")
          span(data-feather="shopping-cart")
          | #{$i18n.store.label}
          if isStore
            span.sr-only (current)
    //

block append head
  link(rel='stylesheet', href='/css/navbar-top-fixed.css')
  link(rel='stylesheet', href='/css/dashboard.css')
 
block append content
  block navbar

  .container-fluid
    .row
      nav.col-md-2.d-none.d-md-block.bg-light.sidebar#sidebar
        block sidebar

      main.col-md-10.ml-sm-auto.col-lg-10.px-4(role="main")
        block main

