include includes/mixins.pug

- var metas = {}
- metas.title = $i18n.metas.title
- metas.url = $i18n.metas.url
- metas.site_name = $i18n.metas.siteName
- metas.keywords = $i18n.metas.keywords
- metas.description = $i18n.metas.description
- metas.image = $i18n.metas.image
- metas.author = $i18n.metas.author
block metas
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= metas.title
    meta(name="keywords", content=metas.keywords)
    meta(name="description", content=metas.description)
    meta(name="author", content=metas.author)
    meta(property="og:title", content=metas.title)
    meta(property="og:type", content="website")
    meta(property="og:url", content=metas.url)
    meta(property="og:image", content=metas.image)
    meta(property="og:site_name", content=metas.site_name)
    meta(property="og:description", content=metas.description)
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ", crossorigin="anonymous")
    //-
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
    //

    //-
      script(src='/js/jquery-3.3.1.min.js')
      script(src='/popper/popper.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
    //

    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/style.js')
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-4961496-14")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      | gtag('config', 'UA-4961496-14');

    block head

  body
    block content

    script(src="/js/feather.min.js")
    script feather.replace()

