extends layout

block main

  - var dir = 'assy'
  - var subdir = 'well'

  +itemhead(dir, subdir)

    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
    p
      - var img = "/assy/images/well-woods.jpg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table1)

    p
      +note(2, "英語版内容が古い")
      - var img = "/assy/images/unbox-bag2.jpg"
      +image(img, img)
      +table($i18n[dir][subdir].items[0].table2)

    +itemtitle(dir, subdir, 1)

    p
      .row
        - var img = "/assy/images/well-wood21.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-wood22.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-wood23.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-wood24.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-wood25.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[1].text1}

    +itemtitle(dir, subdir, 2)

    p
      .row
        - var img = "/assy/images/well-screws1.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/well-screws2.jpg"
        +process-image(img, img, img)
        - var img = "/assy/images/well-screws3.jpg"
        +process-image(img, img, img)
      | #{$i18n[dir][subdir].items[2].text1}

    p
      .row
        - var img = "/assy/images/well-set1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-set2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[2].text2}

    +itemtitle(dir, subdir, 3)

    p
      +note(2, "グリスを本グリスに差し替え")
      - var img = "/assy/images/well-peltier-grease.jpg"
      +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text1}

    p
      - var img = "/assy/images/well-peltier-on1.jpg"
      +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text2}

    p
      .row
        - var img = "/assy/images/well-peltier-on2.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-peltier-on3.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-peltier-on4.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-peltier-on5.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[3].text3}

    +itemtitle(dir, subdir, 4)

    p
      .row
        +note(3, "グリスを本グリスに差し替え")
        - var img = "/assy/images/well-aluminium-grease1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-aluminium-complete1.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[4].text1}
    
    p
      .row
        - var img = "/assy/images/well-aluminium-peel.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-aluminium-complete2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[4].text2}

    +itemtitle(dir, subdir, 5)

    p
      .row
        +youtube_embed('hYrAK_5A7Ns', 1)
        - var img = "/assy/images/well-heatsink-leg1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-heatsink-leg2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[5].text1}
      +youtube('hYrAK_5A7Ns')

    p
      .row
        - var img = "/assy/images/well-heatsink-peel2.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-heatsink-peel3.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-heatsink-peel4.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[5].text2}

    p
      .row
        - var img = "/assy/images/well-heatsink-complete1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-heatsink-complete2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[5].text3}

    p
      .row
        - var img = "/assy/images/well-heatsink-complete3.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-heatsink-complete4.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[5].text4}

    +itemtitle(dir, subdir, 6)

    p
      .row
        - var img = "/assy/images/well-sponge1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-sponge3.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[6].text1}

    +itemtitle(dir, subdir, 7)

    p
      .row
        - var img = "/assy/images/well-hinge1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-hinge2.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-hinge3.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-hinge4.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[7].text1}

    p
      .row
        - var img = "/assy/images/well-latch1.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-latch2.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[7].text2}

    p
      .row
        - var img = "/assy/images/well-latch3.jpg"
        +process-image(img, img)
        - var img = "/assy/images/well-latch4.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[7].text3}

    p    
      .row
        - var img = "/assy/images/well-latch5.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[7].text4}

    p
      .row
        - var img = "/assy/images/body-pcb-well-connect3.jpg"
        +process-image(img, img)
        - var img = "/assy/images/body-pcb-well-connect4.jpg"
        +process-image(img, img)
      | #{$i18n[dir][subdir].items[7].text5}
  
    +nextstep('/assy/body/index.html', $i18n.assy.body.label)

