extends ../layout

block append metas
  - var dir = 'maker'
  - var subdir = 'well'
  +meta(metas, $i18n[dir].label, $i18n[dir][subdir].items[0].title)

block navbar
  +navbar('/maker/well/')

block sidebar
  +sidebar('/maker/well/')

block main

  +itemhead(dir, subdir)

  if $localeName != 'ja'
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
  else
    +itemtitle(dir, subdir, 0)

    p
      | #{$i18n[dir][subdir].items[0].text1}
      +table($i18n[dir][subdir].items[0].table)

    +itemtitle(dir, subdir, 1)

    p
      | #{$i18n[dir][subdir].items[1].text1}

    +itemtitle(dir, subdir, 2)

    p
      | #{$i18n[dir][subdir].items[2].text1}

    +itemtitle(dir, subdir, 3)

    p
      | #{$i18n[dir][subdir].items[3].text1}

    +itemtitle(dir, subdir, 4)

    p
      | #{$i18n[dir][subdir].items[4].text1}

    +itemtitle(dir, subdir, 5)

    p
      | #{$i18n[dir][subdir].items[5].text1}

  +nextstep('/maker/heater/index.html', $i18n.maker.heater.label)
