#running_header(role="main")
  div#runningExperimentTitle.Header
  #runningStats
    #runningHeader
      #elapsed_time_section
        span #{$i18n.console.elapsedTime}
        span#elapsedTime --:--:--
        |
        span#timeRemaining #{$i18n.console.timeRemaining}
        span#minutesRemaining --:--:--
        div
          meter#timeProgress(max="100",min="0",value="0")
    table#statsTable.runningTable
      tr
        th(style="width:110px")
          span #{$i18n.console.status}
        th(colspan="4")
          span #{$i18n.console.currentTemp}
      tr
        td(rowspan="3")
          #runnningStatus
            div#sectionCycles
              span #{$i18n.console.cycle}
              |
              span#cycleNumber -
              | /
              span#totalCycles -
            div#sectionRepeats
              span #{$i18n.console.repeated}
              |
              span#repeatNumber -
              | /
              span#totalRepeats -
            div#stepName
        td(style="text-align:right;")
          span #{$i18n.console.lid}
          | :
        td
          span#lidTemperature
          | °C
        td
          meter#meterLid.meterTemp(min="0" max="120" value="85")
        td
          #deviceStatusLid.deviceStatus
      tr
        td(style="text-align:right;")
          span #{$i18n.console.block}
          | :
        td
          span#blockTemperature
          | °C
        td
          meter#meterBlock.meterTemp(min="0" max="120" value="25")
        td
          #deviceStatusPeltier.deviceStatus
      tr
        td(style="text-align:right;")
          span #{$i18n.console.sample}
          | :
        td
          span#sampleTemperature
          | °C
        td
          meter#meterSample.meterTemp(min="0" max="120" value="25")
        td
    div
      #graph_container
      div(style="text-align:center;")
        input#graph_plus.graph_zoom(type="button")
        input#graph_minus.graph_zoom(type="button")

    #runningPluggedIn
      input#stop_link.stop.player_button(type="button" value=$i18n.console.stop)
      span.v1_1
        input#pause_link.pause.player_button(type="button" value=$i18n.console.pause)
        input#resume_link.resume.player_button(type="button" value=$i18n.console.resume)
        input#next_step_link.next_step.player_button(type="button" value=$i18n.console.next_step)
        input#next_cycle_link.next_cycle.player_button(type="button" value=$i18n.console.next_cycle)

    #runningUnplugged.unplugged_message #{$i18n.console.unplugged}
  script(type="text/javascript" src="../../console/js/lib/flotr2.min.js")
  script(type="text/javascript" src="../../console/js/graph.js")
  #homeButton
    input#Home.button.homeRunning(type="button" value=$i18n.console.home)
  div(style="clear:both;")
  div(style="margin-top:6px;")
    a#download.small_button(style="display:none;") #{$i18n.console.saveCsv}
