#homeHeader.Header #{$i18n.console.appTitle}
#device_conf
  h2#DeviceConnectionStatus.disconnected
    span#DeviceConnectionStatusLabel #{$i18n.console.connectionStatusDisconnected}
  a(href="../assy/setup/index.html" target="_blank") #{$i18n.console.wifiSettingsButton}
  a#NewDevice(href="#" style="display:none") #{$i18n.console.wifiSettingsButton}
  section#DeviceSettings(style="display:none")
    p
      ol
        li #{$i18n.console.wifiSettings0}
        li #{$i18n.console.wifiSettings1}
        li #{$i18n.console.wifiSettings2}
        li #{$i18n.console.wifiSettings3}
          ol
            li
              strong "SSID"
              |  : #{$i18n.console.wifiSettings3_0}
            li
              strong "Password"
              |  : #{$i18n.console.wifiSettings3_1}
            li
              strong "Device name"
              |  : #{$i18n.console.wifiSettings3_2}
            li #{$i18n.console.wifiSettings3_3}
        li #{$i18n.console.wifiSettings4}
        li #{$i18n.console.wifiSettings5}
  section#connectionModeContainer(style="display:none")
    input#connectionModeServer(type="radio" name="connectionMode" checked="true" value="server")
    label(for="connectionModeServer") Server Mode
    input#connectionModeAP(type="radio" name="connectionMode" value="ap")
    label(for="connectionModeAP") Wi-Fi Config (AP) mode
    a.help(href="../op/index.html#item-op-index-3") Help

  section
    // Server mode
    p#ipInputContainer
      span #{$i18n.console.deviceName}
      input#HostText.connectionUI(type="text")
      input#ConnectButton(type="button", value=$i18n.console.connect)

    // AP mode
    div#apContainer(style="display:none")
      ol
        li #{$i18n.console.connectApMode_0}
        li #{$i18n.console.connectApMode_1}
        li#RemoteAPModeAlert(style="display:none") #{$i18n.console.remoteAPModeAlert} (
          a(href=$i18n.console.remoteAPModeLinkAddress) #{$i18n.console.remoteAPModeLinkLabel}
          | )
      input#ConnectButtonAP(type="button", value=$i18n.console.connect)


    p#firmwareVersion(style="display:none")
      span#firmwareVersionLabel Firmware Version
      span.labelVersionCurrent
// Create a new blank experiment
a#newExperimentButton(href="#")
  img(src="../../console/images/new.png" style="vertical-align:middle;width:70px;height:70px")
  span.home_title #{$i18n.console.addNewExperiment}
br
br
// Rerun an experiment
a#listSubmitButton(href="#")
  img(src="../../console/images/rerun.png" style="vertical-align:middle;width:70px;height:70px")
  span.home_title #{$i18n.console.reRunExperiment}
#reRun(align="right")
div
  a#About
    span #{$i18n.console.about}
div(style="display:none")
  a#Settings.small_button(style="display:none") #{$i18n.console.contrast}
a#ClearData.small_button(style="display:none") #{$i18n.console.clearData}
div
  textarea#debugText(cols="60" rows="10" style="display:none")
// END PANEL 1
// PANEL 2: Experiment Screen
