extends layout

block main

  - var dir = 'assy'
  - var subdir = 'setup'
  +itemhead(dir, subdir)

    // ネットワーク設定モードでの起動
    +itemtitle(dir, subdir, 0)
    // p
    //  | #{$i18n[dir][subdir].items[0].text1}
    p 初めてNinjaPCRを使用する場合、またはWiFiの設定を変更する場合は、次の手順によりNinjaPCRをネットワーク設定モードで起動します。
    ol
      li Plug the power adapter into NinjaPCR and then into an outlet. コネクタの赤い丸のついている部分が同じ方向になるように挿します。
        .row
          - var img = "/assy/images/setup-plug-adapter1.jpg"
          +process-image(img, img)
          - var img = "/assy/images/setup-plug-adapter2.jpg"
          +process-image(img, img)
          - var img = "/assy/images/setup-plug-adapter3.jpg"
          +process-image(img, img)
      li Press the "Mode" button and hold it, then press and release the "Reset" button while the "Mode" button is pressed. NinjaPCR will start in WiFi Setup mode in a few seconds.
        .row
            - var img = "/assy/images/setup-boot1.jpg"
            +process-image(img, img)
            - var img = "/assy/images/setup-boot2.jpg"
            +process-image(img, img)
            - var img = "/assy/images/setup-boot3.jpg"
            +process-image(img, img)
            - var img = "/assy/images/setup-boot4.jpg"
            +process-image(img, img)
            - var img = "/assy/images/setup-boot5.jpg"
            +process-image(img, img)

    +itemtitle(dir, subdir, 1)

      //
        - var img = "/assy/images/lid-heater.svg"
        +image(img, img)
        | #{$i18n[dir][subdir].items[1].text1}
        // +itemlink(dir, 'unbox', 4) 
        | #{$i18n[dir][subdir].items[1].text2}
        a(href="https://www.google.co.jp") #{$i18n[dir][subdir].items[1].text3}
        | #{$i18n[dir][subdir].items[1].text4}
    ol
      li
        | APモードで起動した場合、NinjaPCRはWiFiアクセスポイントとして機能しています。
        | Open the settings of your PC or smartphone and select "NinjaPC" shown in the AP list.
        | 接続時にパスワード "ninjapcr" を入力してください。
        dl
          dt macOSの場合
          dd 
            | メニューにあるWiFiアイコンを押すとアクセスポイントの一覧が表示されるので、"NinjaPCR" を選択します。
            - var img = "/assy/images/setup-ap-list-mac-"+$localeName+".jpg"
            +process-image(img, img)
          dt Windowsの場合
          dd 
            | ネットワークの設定を開くとアクセスポイントの一覧が表示されるので、"NinjaPCR" を選択します。
            - var img = "/assy/images/setup-ap-list-win-"+$localeName+".jpg"
            +process-image(img, img)
            +note(1, "実機でスクリーンショット撮ってローカライズ")
          dt iOSの場合
          dd 
            | ホーム画面から「設定」を開き、「WiFi」の画面を開きます。「ネットワークを選択...」のセクションに接続可能なアクセスポイントが出るので、"NinjaPCR" を接続します。
            .row
              - var img = "/assy/images/setup-ap-list-ios1-"+$localeName+".jpg"
              +process-image(img, img)
              - var img = "/assy/images/setup-ap-list-ios2-"+$localeName+".jpg"
              +process-image(img, img)
          dt Androidの場合 (TODO)
          dd 
            | Open "Settings" and move to "Wireless & networks" screen. Select "NinjaPCR" in the AP list.
            .row
              - var img = "/assy/images/setup-ap-list-android1-"+$localeName+".jpg"
              +process-image(img, img)
              - var img = "/assy/images/setup-ap-list-android2-"+$localeName+".jpg"
              +process-image(img, img)
          
      li
        | Open 
        a(href="http://192.168.1.1" target="_blank") the WiFi settings page
        | and setup. If the page doesn't show up, please retry after a few seconds.
        - var img = "/assy/images/setup-wifi-conf.jpg"
        +process-image(img, img)
        +note(2, "リンクの色がわかりにくいので青にしたい / 画像を大きく")
          
      li Input WiFi Settings
        ol
          li
            strong "SSID"
            |  : 
            | Choose the SSID (network name) you want to use from the dropdown menu. If you can't find it in the list, input the SSID to the textbox below.
          li
            strong "Password"
            |  : 
            | Input the password of the network.
          li
            strong "Device name"
            |  : 
            | Device name: You can name your NinjaPCR with alphanumeric letters. The number of letters should be between 4 to 8. The default name "ninjapcr" is good enough if you use only one device, but it's recommended to use different names if you (and nearby users)  have multiple NinjaPCR devices.
          li
            | After you set up the device, it will restart and connect to the specified access point.
      li
        | Connect your PC of smartphone to the WiFi access point that your NinjaPCR is connected to.

    +itemtitle(dir, subdir, 2)
    p WiFiの設定後が完了すると、NinjaPCRは設定モードではなく通常モードで起動し、コンソールから接続できるようになりますので、接続できることを確認してください。
    ul
      li コンソールを開きます。
        dl
          dt Windows・macOS・Linix・iOSの場合
          dd ブラウザで 
            a(href="/console") コンソール
            | にアクセスします。
          dt Androidの場合
          dd 専用アプリをインストールし、起動します。
      
      li Input the "Device name" that you have specified when you configured the device and press "Connect" button.
        - var img = "/assy/images/setup-connection1-"+$localeName+".jpg"
        +process-image(img, img)
      li 「接続済」 と表示されたら接続成功です。接続に失敗すると再び「未接続」に戻ります。起動後、接続可能になるまでに2〜5秒ほどかかりますので、失敗した場合は少し時間をおいて再度「接続」を押してみてください。
        | 接続に何度も失敗する場合は、下の
        a(href='#troubleshooting-cannot-connect') 「WiFiトラブルシューティング > 接続テストに失敗する」
        | をご覧ください。
        - var img = "/assy/images/setup-connection2-"+$localeName+".jpg"
        +process-image(img, img)
    //p
      //| #{$i18n[dir][subdir].items[2].text1}
      

    +itemtitle(dir, subdir, 3)
    
    h5 APモードで起動したはずだがAPが表示されない
    ul
      li NinjaPCRと端末が離れすぎていると電波が届きません。
      li 機器によっては新しく発見したアクセスポイントを認識するのに時間がかかる場合があります。少し時間を置いてみてください。また、リストに大量のアクセスポイントが表示されている場合は、画面外に表示されていないか、スクロールして確認してみてください。
      li "Mode" ボタンを離すタイミングが正しくなかった可能性があります。再度起動してみてください。
    h5 WiFi設定ページに、接続したいアクセスポイントのSSIDが表示されない
    ul
      li アクセスポイントの設定によっては一覧に表示されない場合があります。ステルスモードになっている場合、スマートフォンのテザリングを使用している場合などです。
        | その場合は、プルダウンメニューの下のテキストボックスにSSIDを入力すると接続できます。
    h5#troubleshooting-cannot-connect 接続テストに失敗する
    ul
      li もう一度APモードで起動して接続すると前回接続に失敗した際のエラーが見られますので、問題点を解決して再度お試しください。
        | エラーが表示されない場合、NinjaPCRはアクセスポイントに正常に接続できています。
      li WiFi設定モードではなく通常モードで起動していますか? 起動時にModeボタンを押さず、Resetだけを押してください。
      li NinjaPCRはデバイスと接続するためにmDNSという仕組みを利用しています。mDNSはmacOSおよびiOSでは標準で利用することができます。
        | WindowsやLinuxでも大抵はmDNSをサポートするソフトウェアがインストールされていますが、そうでない場合もありますので、以下の方法でインストールしてください。
        dl
          dt Windows
          dd 
            a(href="https://support.apple.com/kb/DL999") Bonjour Print Services 
            | をインストールします。
          dt Linux
          dd 
            a(href="http://avahi.org/") avahi
            | をインストールします。インストールの方法はお使いの環境によって違いますが、メジャーなソフトウェアなので、ほとんどのディストリビューション向けに簡単にインストールできるパッケージが用意されています。
 
    +nextstep('/console/index.html', $i18n.console.label)
