extends layout

block main

  - var dir = 'assy'
  - var subdir = 'setup'

  +itemhead(dir, subdir)

    // ネットワーク設定モードでの起動
    +itemtitle(dir, subdir, 0)
    // p
    //  | #{$i18n[dir][subdir].items[0].text1}

    ol
      li.pcr_localize_wifiSettings0 Plug the power adapter into NinjaPCR and then into an outlet. (TODO 写真)
      li.pcr_localize_wifiSettings1
        | Press the "Setup" button and hold it, then press and release the "Reset" button while the "Setup" button is pressed. NinjaPCR will start in WiFi Setup mode in a few seconds. (TODO ボタンを押してる写真)

    +itemtitle(dir, subdir, 1)

    p
      //
        - var img = "/assy/images/lid-heater.svg"
        +image(img, img)
        | #{$i18n[dir][subdir].items[1].text1}
        +itemlink(dir, 'unbox', 4) 
        | #{$i18n[dir][subdir].items[1].text2}
        a(href="https://www.google.co.jp") #{$i18n[dir][subdir].items[1].text3}
        | #{$i18n[dir][subdir].items[1].text4}
    ol
      li.pcr_localize_wifiSettings2
        | Open the settings of your PC or smartphone and select "NinjaPC" shown in the AP list.
        dl
          dt macOSの場合
          dd メニューにあるWiFiアイコンを押すとアクセスポイントの一覧が表示されます (TODO スクリーンショット)
          dt Windowsの場合
          dd TODO (TODO スクリーンショット)
          dt iOSの場合
          dd 設定/WiFi/ネットワークを選択 (TODO スクリーンショット)
          dt Androidの場合
          dd Settings / Wireless & networks / section WiFi (TODO スクリーンショット)
          
      li
        span.pcr_localize_wifiSettings3
          | Open 
          a(href="http://192.168.1.1" target="_blank") the WiFi settings page
          |  and setup. If you the page doesn't show up, please retry after a few seconds.
      li Input WiFi Settings
        ol
          li
            strong "SSID"
            |  : 
            span.pcr_localize_wifiSettings3_0
              | Choose the SSID (network name) you want to use from the dropdown menu. If you can't find it in the list, input the SSID to the textbox below.
          li
            strong "Password"
            |  : 
            span.pcr_localize_wifiSettings3_1 Input the password of the network.
          li
            strong "Device name"
            |  : 
            span.pcr_localize_wifiSettings3_2
              | Device name: You can name your NinjaPCR with alphanumeric letters. The number of letters should be between 4 to 8. The default name "ninjapcr" is good enough if you use only one device, but it's recommended to use different names if you (and nearby users)  have multiple NinjaPCR devices.
          li
            span.pcr_localize_wifiSettings3_3
              | After you set up the device, it will restart and connect to the specified access point.
      li.pcr_localize_wifiSettings4
        | Connect your PC of smartphone to the WiFi access point that your NinjaPCR is connected to. (TODO さきほどの手順へのリンク)

    +itemtitle(dir, subdir, 2)
    ul
      li Open console page
      li.pcr_localize_wifiSettings5
        | Input the "Device name" that you have specified when you configured the device and press "connect" button.
    p
      | #{$i18n[dir][subdir].items[2].text1}

    +itemtitle(dir, subdir, 3)
    
    dl
      dt APモードで起動したはずだがAPが表示されない
      dd 遠すぎて電波が届かない
      dd 少し時間をおく
      dd ボタンが押せていない or ボタンを話すタイミングを失敗
      dd リストの下のほうに隠れている(スクロールしてみて)
      
      dt SSIDが表示されない
      dd その場合はテキストボックスに
      
      dt 接続テストに失敗する
      dd もう一度APモードで起動して接続すると前回のエラーが見られるので参考に
      dd MODEボタンは押す必要がない
      dd 
 
    +nextstep('/console/index.html', $i18n.console.label)
